<div class="main">
  <h3>Edit profile</h3>
  <%= form_for @user, html: {id: "edit"}, remote: true do |f| %>
    <div class="avatar-upload">
      <div class="avatar-edit">
        <%= f.file_field :avatar, id: "imageUpload", accept: "image/png,image/jpeg,image/jpg" %>
        <label for="imageUpload"><i class="pencil alternate icon"></i></label>
      </div>
      <div class="avatar-preview">
        <div id="imagePreview" style="background-image: url(<% unless @user.avatar.file.nil? %>
          <%= @user.avatar.url %>
        <% else %>
          'https://res.cloudinary.com/ibidapo-cloudinary/image/upload/v1563959589/message-me/default-user.jpg'
        <% end %>);">
        </div>
      </div>
    </div>
    <%= f.text_area :interest, size: "autox3", maxlength: 85, placeholder: "What are your interests?"%>
    <%= f.submit "Update" %>
  <% end %>
</div>
