<div class="main">
  <h3>Profile</h3>
  <div class="ui <%= 'special' if session[:user_id].to_s == params[:id] %> cards">
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="/users/<%= @user.id %>/edit" class="ui inverted button">Edit Profile</a>
            </div>
          </div>
        </div>
        <% unless @user.avatar.file.nil? %>
          <%= image_tag @user.avatar.url %>
        <% else %>
          <%= image_tag 'https://res.cloudinary.com/ibidapo-cloudinary/image/upload/v1563959589/message-me/default-user.jpg' %>
        <% end %>
      </div>
      <div class="content">
        <div class="header"><%= @user.username %></div>
        <div class="description">
          <% if @user.interest.present? %>
            <%= @user.interest %>
          <% else %>
            <span>What are your interests?<span>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <small>Joined</small>
        <small><%= @user.created_at.to_formatted_s(:long) %></small>
      </div>
    </div>
  </div>
</div>