<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <div class="mockchat">
        <div class="device">
          <div class="screen">
            <%= render 'layouts/navigation' %>
            <%= render 'layouts/notification' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
