<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container">
      <div class="mockchat">
        <div class="device">
          <div class="screen">
            <%= render 'layouts/navigation' %>
            <%= render 'layouts/notification' %>
            <div class="ui chatbox-segment pushable">
              <div class="ui left vertical menu sidebar">
                <% all_users.each do |user|  %>
                  <a class="item" href="/chatroom/<%= user.id %>">
                    <img src="
                      <% unless user.avatar.file.nil? %>
                        <%= user.avatar.url %>
                      <% else %>
                        https://res.cloudinary.com/ibidapo-cloudinary/image/upload/v1563959589/message-me/default-user.jpg
                      <% end %>" alt="avatar" 
                    />
                    <div class="content">
                      <div class="name"><%=  user.username %></div>
                      <div class="interest"><%= user.interest %></div>
                    </div>
                  </a>
                <% end %>
              </div>
            <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
